.garage {
  position: relative;

  .car-filed {
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
    height: 145px;
    border-bottom: 2px dashed black;

    .car-filed__controller {
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      .controller-state {
        display: flex;
        column-gap: 10px;
        align-items: center;

        .create-block__button {
          width: 75px;
          padding: 3px 2px 17px 2px;
          height: 20px;
          border-radius: 5px;
          font-size: 0.9rem;
          font-weight: 600;
          transition: all 0.5s;
          cursor: pointer;

          &:hover {
            opacity: 0.5;
          }
        }

        .car-filed__name {
          font-size: 1.2rem;
        }
      }

      .controller-move {
        display: flex;
        column-gap: 10px;
        align-items: center;

        .create-block__button {
          width: 75px;
          padding: 3px 2px 17px 2px;
          height: 20px;
          border-radius: 5px;
          font-size: 0.9rem;
          font-weight: 600;
          transition: all 0.5s;
          cursor: pointer;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    .car-filed_road {
      position: relative;

      .car {
        transform: translateX(0%);
        transition-property: all;
        transition-timing-function: linear;
        transition-delay: 0s;
      }

      .car__animation-stop {
        animation-play-state: paused;
      }

      .car__drive {
        transform: translate(85%, 0px);
      }

      .car-filed__flag {
        position: absolute;
        right: 10%;
        bottom: -7px;
        width: 50px;
        height: 60px;

        @media (max-width: 650px) {
          right: 15%;
        }
      }
    }
  }
}

.block-garage__page-controller {
  display: flex;
  column-gap: 10px;

  .create-block__button {
    width: 46px;
    padding: 5px 5px 22px 5px;
    height: 19px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}

.car-filed__active {
  border: 3px solid black;
  border-radius: 5px;
}
