.controller {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 10px;

  .controller__block {
    display: flex;
    column-gap: 20px;
    align-items: center;

    .create-block__input {
      font-size: 1.1rem;
    }

    .create-block__input__color-picker {
      border-radius: 4px;
    }

  }

  .block-race {
    display: flex;
    column-gap: 67px;

  }
}

.create-block__button {
  width: 75px;
  padding: 3px 2px 17px 2px;
  height: 20px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
