.controller {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 10px;

  .controller__block {
    display: flex;
    column-gap: 20px;

    .create-block__input {
      font-size: 1.2rem;
    }

    .create-block__input__color-picker {
      border-radius: 4px;
    }

  }

  .block-race {
    display: flex;
    column-gap: 48px;

  }
}

.create-block__button {
  width: 100px;
  height: 19px;
  font-size: 1rem;
  color: black;
  padding: 3px 5px 21px 5px;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
